{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<header class="container d-flex justify-content-center align-items-center"> 
    <div class="w-75">

        <h1>Site Ecommerce Symfony6</h1>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nemo ratione sed sint veniam aspernatur ad laudantium quam a officia obcaecati id voluptas corporis, mollitia atque quae voluptatum quod voluptatem.</p>

    </div>    



        


</header>

{% endblock %}
