<p>Bonjour {{user.firstname}} {{user.lastname}}</p>
<p>Pour votre demanda de réinitialisation de mot de passse, merci de cliquer sur le lien suivant :
    <a href="{{url|raw}}">{{url|raw}}</a>
</p>
<p>Merci</p>